body{
  margin: 0;
  font-family: "Karla", sans-serif;
}

.nav{
  background-color: #672280;
  display: flex;
  padding: 0 20px;
  align-items: center;
}

.nav--logo{
  height: 26px;
  margin-right: 12px;
}

.nav--title{
  font-size: 21px;
  color: white;
  margin-right: auto;
  font-weight: bold;
}

.nav--desc{
  color: white;
  font-size: 12px;
  font-weight: 300;
}
main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 1em;
}

.meme--grid{
  display: grid;
  grid-template-rows: 40px 40px;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  padding: 20px;
}
.form--button{
  grid-column: 1 / -1;
  font-family: "Karla", sans-serif;
  border: none;
  border-radius: 5px;
  background-color: #672280;
  color: white;
  cursor: pointer;
}

.form--input{
  font-family: "Karla", sans-serif;
  border-radius: 5px;
  border: 1px solid #D5D4D8;
  text-indent: 5px;
}
.meme--section{
  padding: 20px;
}

.meme--image{
  max-width: 100px;
}